@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1771c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5b0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32ae7e;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  color: rgb(var(--foreground-rgb));
}
.hero_animation {
  background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  animation: changeBackgroundColor 4s infinite alternate, rotate 4s linear infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  }
  50% {
    background-image: linear-gradient(147.92deg, hsla(200, 70%, 60%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  }
  100% {
    background-image: linear-gradient(147.92deg, hsla(120, 70%, 60%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.text-gradient {
  background: linear-gradient(90deg, #3e7fd9 2.34%, #5c3bd6 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


@keyframes changeBackgroundColor {
  0%, 100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}